<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Conexión a la base de datos -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/games?useSSL=false</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>

        <!-- Dialecto de MySQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.MariaDBDialect</property>

        <!-- Opciones -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mapeo de clases -->
        <mapping class="org.example.entidades.DetallesJuego"/>
        <mapping class="org.example.entidades.Desarrolladores"/>
        <mapping class="org.example.entidades.Generos"/>
        <mapping class="org.example.entidades.Juego"/>
        <mapping class="org.example.entidades.JuegoEquipo"/>
        <mapping class="org.example.entidades.JuegosGenerados"/>
        <mapping class="org.example.entidades.Rating"/>
    </session-factory>
</hibernate-configuration>
